* {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica, helvetica neue, Ubuntu, segoe ui, arial, sans-serif
}

* button:focus {
  outline: 0
}
body {
  margin: 0;
  height: 100%
}

html {
  overflow-y: hidden;
  height: 100%;
}

.clq {
  display: flex;
  height: 100%;
  /* align-items: center; */
  overflow: auto;
}